<html>
  <head>
    <title>flowthings.io Projectile Motion Game</title>

    <link rel='stylesheet', href='/vendor/bootstrap.min.css'/>
    <link rel='stylesheet', href='/vendor/bootstrap-theme.min.css'/>
    <link rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', type='text/css'/>
    <link rel='shortcut icon' href='/favicon.ico'/>
    <link rel='stylesheet' href="/stylesheets/styles.min.css" />

  </head>

  <body>

    <div>
      <h1 class="text-center">
        <a class="logo-link" target="blank" href="//flowthings.io" >
          <span id="logo">flow</span><span id="logo-sub">things.io</span>
        </a>

        Projectile Motion Game
      </h1>
    </div>

    {{{ body }}}

  </body>
</html>
