body,html {
  background-color: #002a3b; width : 100%;
  margin: 0 auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #00aed1;
}

a:hover {
  text-decoration: underline;
}

a.logo-link:focus, a.logo-link:active, a.logo-link:hover {
  text-decoration: none;
}

table {
  table-layout: fixed;
  width: 800px;
  margin: 0 auto;
  word-wrap: break-word;
  padding-top:10%;
}

th {
  border-bottom: 1px solid #000;
}

th, td {
  text-align: left;
  padding: 2px 20px;
}


pre {
  padding: 0;
  margin: 0;
}

#logo {
  background: url('/images/flow-logo.svg') no-repeat 0 0;
  background-size: 56px 19px;
  position: relative;
  top: 1px;
  display: inline-block;
  overflow: hidden;
  height: 0;
  width: 56px;
  padding-top: 19px;
  font-size: 18;
}

#logo-sub {
  font-weight: 100;
  color: #81ceec;
}
